<ul class="nav navbar-top-links navbar-right">
    <li ui-sref-active="active">
        <a href="#" class="top-nav-links" ui-sref="main"><i class="fa fa-home fa-fw"></i>
            <span class="hidden-xs"> Home </span>
        </a>
    </li>  

    <li class="dropdown">
        <a class="dropdown-toggle top-nav-links" data-toggle="dropdown">
            <i class="fa fa-cubes fa-fw"></i><span class="hidden-xs"> Gatherings </span><i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user" style="right:auto; left: auto;">
            <li><a href="#" ui-sref="search"><i class="fa fa-search fa-fw"></i> Search Gatherings</a></li>
            <li><a href="#" ui-sref="gathering-created"><i class="fa fa-cubes fa-fw"></i> Manage Gatherings</a></li>                   
        </ul>
    </li>

    <li ng-show="vm.isLoggedIn">
        <a href="#" class="top-nav-links" ui-sref="gathering-new">
            <i class="fa fa-plus fa-fw"></i><span class="hidden-xs"> Create Gathering </span>
        </a>
    </li>         
            
    <li ng-show="!vm.isLoggedIn">
        <a href="#" class="top-nav-links" ui-sref="login">
            <i class="fa fa-user fa-fw"></i><span class="hidden-xs"> Sign In </span>
        </a>
    </li> 

    <li class="dropdown" ng-show="vm.isLoggedIn">
        <a class="dropdown-toggle top-nav-links" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i><span class="hidden-xs"> Options </span><i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user" style="right:auto; left: auto;">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="vm.logout()"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
            
        </ul>
    </li>
</ul>
<!-- /.navbar-top-links -->