<script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/1.1.0/metisMenu.js"></script>

<script>$(function() {
    $('#side-menu').metisMenu();
});</script>

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a ui-sref-active="active" ui-sref="gathering-dashboard({id:vm.selectedGatheringId})"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            <li>
                <a ui-sref-active="active" ui-sref="gathering-chat({id:vm.selectedGatheringId})"><i class="fa fa-comments fa-fw"></i> Message Board</a>
            </li>

            <li>
                <a ui-sref-active="active" ui-sref="gathering-pics({id:vm.selectedGatheringId})"><i class="fa fa-photo fa-fw"></i> Pictures</a>
            </li>

            <li ng-show="vm.isLoggedIn">
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Manage Options<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref-active="active" ui-sref="gathering-manage-banner({id:vm.selectedGatheringId})">
                            <i class="fa fa-camera-retro" aria-hidden="true"></i> Upload Banner</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>