
.footer {
	z-index: 99000 !important;	
	position: relative;
	border-top: solid 10px #673AB7;
	min-height: 300px;
	width: 100%;
}

.footer-company-panel {
	height: 100px;
	font: 400 46px/0.8 'Cookie', Helvetica, sans-serif;
  	color: #fff;
  	text-align: center;
  	padding: 10px;
  	line-height: 100px;
  	vertical-align: middle;
}

.footer-parent-panel {
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	font-family: Times, sans-serif; 
	font-size: 16px;
	padding: 10px;
}

.footer-links-panel {
	
	text-align: center;
}

.footer-social-icons {

	padding: 10px;
	text-align: center;

	

}

.footer-quick-city-links {
	text-align: center
}

.social-icons {

	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

ul.columns>li:before { 
	content:'\ffed'; 
	margin-right:0.5em; 
	color:  #673AB7; 
}

ul.footer-links-list {
    list-style-type: circle;
}

a.footer-links {
	color:  #673AB7 !important;
	font-size: 18px;
}

a.footer-links:hover {
	color:  #ffffff !important;
	font-size: 18px;
}



/*a.white:link {color: #FFFFFF; font-weight: bold;}
a.white:active {color: #FFFFFF; font-weight: bold;}
a.white:visited {color: #FFFFFF; font-weight: bold;}
a.white:hover {color: #FFFFFF; font-weight: bold;}*/





/*.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	position: relative;
	border-top: solid 10px #673AB7;
	padding: 55px 50px;
	

}*/