.mobileShow {
	display: none;
}
.non-mobileShow {
	display: inline;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 100px) {

	.container-fluid {
		padding: 0px !important;
	}

	.navbar-brand {

  		font: 400 28px/0.8 'Cookie', Helvetica, sans-serif;
  		color: #fff;

  		padding-top: 8px;
	}

	.table {
	  font-size: 8px;
	}

	.card-text {
		font-size: 12px;
	}

	.brand-logo {
		font-size: 20px;
	}

	#parent-logo {
		font-size: 10px;
	}
	#parent-username {
		font-size: 10px;
	}

	.form-item {
	  font-size: 12px;
	}

	.panel-heading {
		font-size: 12px;
	}

	.panel-body {
		font-size: 12px;

	}

	.panel-padding {
		padding: 10px;
		padding-bottom: 50px;

	}

	.content-fullscreen {
	  	padding-top: 150px;
	  	padding-left: 0px;
	  	padding-right: 0px;
	  	padding-bottom: 20px;
	}

	.message-box {
	  font-size: 30px;
	  font-family: 'abel', serif;
	  text-align: center;

	}
	.content-spacer {
	  	padding-top: 130px;
	}
	.page-header-primary {
	  color: #673AB7;
	  font-weight: bold;
	  margin-top: 20px;
	  font-size: 18px;
	}


	.my-brand {
	  	padding-left: 15px !important;
	}

	.panel-bottom-status {

	  	font-size: 10px;

	}
}



/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

	.my-brand {
	  	padding-left: 15px !important;
	}


	.navbar-brand {

  		font: 400 32px/0.8 'Cookie', Helvetica, sans-serif;
  		color: #fff;
  		padding-top: 8px;
	}

	.table {
	  font-size: 8px;
	}

	.card-text {
		font-size: 12px;
	}


	.brand-logo {
		font-size: 20px;
	}

	#parent-logo {
		font-size: 10px;
	}

	.content-fullscreen {
	  	padding-top: 150px;
	  	padding-left: 0px;
	  	padding-right: 0px;
	  	padding-bottom: 20px;
	}
	/*.content-spacer {
	  	padding-top: 130px;
	}*/
	.message-box {
	  font-size: 34px;
	  font-family: 'abel', serif;
	  text-align: center;

	}
	.panel-bottom-status {

	  	font-size: 12px;

	}


}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.content-fullscreen {
	  padding-top: 150px;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-bottom: 10px;
	}
	/*.content-spacer {
	  	padding-top: 140px;
	}*/

	.card-text {
		font-size: 12px;
	}
	.table {
	  font-size: 10px;
	}

	.my-brand {

	  padding-left: 15px !important;

	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.content-fullscreen {
	  padding-top: 100px;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-bottom: 10px;
	}
	.content-spacer {
	  	padding-top: 80px;
	}

	.card-text {
		font-size: 12px;
	}
	.table {
	  font-size: 12px;
	}
	.my-brand {
	  padding-left: 15px !important;

	}
	.panel-bottom-status {

	  	font-size: 16px;

	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {



	.form-item {
	  font-size: 16px;
	}
	.message-box {
	  font-size: 56px;
	  font-family: 'abel', serif;
	  text-align: center;

	}
	.content-fullscreen {
	  padding-top: 100px;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-bottom: 10px;
	}
/*	.content-spacer {
	  	padding-top: 100px;
	}*/
	.table {
	  font-size: 12px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



	.form-item {
	  font-size: 18px;
	}
	.message-box {
	  font-size: 56px;
	  font-family: 'abel', serif;
	  text-align: center;

	}
	.content-fullscreen {
	  padding-top: 100px;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-bottom: 10px;
	}
	/*.content-spacer {
	  	padding-top: 100px;
	}*/
	.table {
	  font-size: 16px;
	}

}