<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="content-spacer">
            	<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header page-header-primary"><i class="fa fa-search" aria-hidden="true"></i> Upload Banner</h1>
                    </div>                         
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{vm.message}}
                    </div>                         
                </div>
            </div>
        </div>
    </div>
</div>