

<div class="container-fluid container-main">
    <div class="top-buffer"></div>

    <div class="search-bar-main">
      aaaa

    </div>
    


</div>

    <!-- <div class="row row-content top-buffer">

      


      <div class="col-xs-12 col-md-12">
        <div class="row content-spacer">
          <div class="col-xs-12 col-md-12">
            <div class="message-box">Start a Gathering today! </div>
            <div>City:{{vm.search_address.locality}}</div>
            <div>Country:{{vm.search_address.country}}</div>
          </div>
        </div>
        
      </div>
    </div>    
  </div>
  
</div> -->