<div class="container-fluid container-main">
    <div class="search-bar-main">


        <div class="col-xs-12 text-center">
        {{vm.search_message}}
        </div>
    <!-- <div class="col-lg-1 visible-lg">
    </div>    

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 no-padding">

      <select id="distance" class="main-control"
              ng-options="distance.name for distance in vm.distanceOptions track by distance.value"
              ng-model="vm.selectedDistance"  ng-change="vm.updateDistance()"> 
              </select> 

    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 no-padding">

      <input type="text" id="Autocomplete" class="main-control" 
            name="location"
            ng-autocomplete
            details="vm.address_details" 
            ng-model="vm.address_text" 
            options="vm.options" 
            placeholder="Select a location by address, city, or state ..."/>

    </div>     -->

    </div>
    <div class="container-fluid gathering-panel-main">

        <div class="col-md-6 col-lg-4 clickable"  ng-repeat="row in vm.gatherings | limitTo:vm.numToShow" ng-click="vm.goToDetails(row)">

            <div class="list-panel-mobile visible-xs">
                <div class="panel-banner-wrapper-mobile">
                  <div class="panel-banner-mobile">
                    <img class="img-mobile img-responsive" ng-src="{{row.banner.url}}">                  
                  </div>
                  <div class="panel-cost-mobile">FREE</div>                                    
                </div>
                <div class="panel-details-wrapper-mobile">
                  <div class="panel-details-date">{{row.gathering_start_date_time | date:'MMM d, y, h:mm a'}}</div>
                  <div class="panel-details-name"><strong>{{row.name}}</strong></div>
                  <div class="panel-details-location">
                    <div class="details-location">{{row.location.name}}</div>
                    <div class="details-location">{{row.location.locality}}, {{row.location.state_prov}}</div>
                    <div class="details-location">{{row.location.country}}</div>
                  </div>
                </div>
                <div class="list-panel-bottom">
                  <div class="panel-bottom-status">{{row.type[0]._id}} - {{row.topic[0]._id}}</div>                  
                </div>
                
              </div>


            <div class="list-panel hidden-xs">
                <div class="list-panel-top">
                    <div class="panel-banner-wrapper">
                        <div class="panel-banner">
                            <img class="no-resize img-responsive" ng-src="{{row.banner.url}}">
                        </div>
                        <div class="panel-cost">FREE</div>                                    
                    </div>
          
                    <div class="panel-details-wrapper">
                        <div class="panel-details-date">{{row.gathering_start_date_time | date:'MMM d, y, h:mm a'}}</div>
                        <div class="panel-details-name"><strong>{{row.name}}</strong></div>
                        <div class="panel-details-location">
                            <div class="details-location">{{row.location.name}}</div>
                            <div class="details-location">{{row.location.locality}}, {{row.location.state_prov}}</div>
                            <div class="details-location">{{row.location.country}}</div>
                        </div>
                    </div>
                    <div class="list-panel-bottom">
                        <div class="panel-bottom-status">{{row.type[0]._id}} - {{row.topic[0]._id}}</div>                                   
                    </div>
                    <div class="panel-footer">            
                    <h6 class="card-text">{{rowContent.description}}</h4>                      
                </div>
       
                </div>
            </div>
        </div>

        <div>
            <div class="col-xs-12 text-center showing-msg">                
                {{vm.showing_msg}}
            </div>
            <div class="col-xs-12 text-center show-more" ng-show="vm.showMoreButton">
                <i class="fa fa-arrow-down clickable" aria-hidden="true" ng-click="vm.showMoreRecs()"></i></button>

            </div>
        </div>
    </div>   
    <div class="container-fluid topics-bar-main">


    </div>      
</div>



  <!-- <div class="topics-bar-main">
    <div class="col-xs-6 col-sm-4 col-lg-1">
      <img src="../images/sports2.jpg" class="img-responsive img-topics-bar">
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-1">
      <img src="../images/sports2.jpg" class="img-responsive img-topics-bar">
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-1">
      <img src="../images/sports2.jpg" class="img-responsive img-topics-bar">
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-1">
      <img src="../images/sports2.jpg" class="img-responsive img-topics-bar">
    </div>

  </div>  -->

  <!-- <div class="col-xs-12">
      <h3>Gatherings in your area</h3>
    </div>

    <a href="#">


      <div class="col-xs-12 col-sm-6 col-md-4"  ng-repeat="row in vm.gatherings">
        <div class="list-panel-mobile">
          <div class="panel-banner-wrapper-mobile">
            <div class="panel-banner-mobile">
              <img class="img-mobile img-responsive" ng-src="{{row.banner.url}}">                  
            </div>
            <div class="panel-cost-mobile">FREE</div>                                    
          </div>
          <div class="panel-details-wrapper-mobile">
            <div class="panel-details-date">{{row.gathering_start_date_time | date:'MMM d, y, h:mm a'}}</div>
            <div class="panel-details-name"><strong>{{row.name}}</strong></div>
            <div class="panel-details-location">
              <div class="details-location">{{row.location.name}}</div>
              <div class="details-location">{{row.location.locality}}, {{rowContent.location.state_prov}}</div>
              <div class="details-location">{{row.location.country}}</div>
            </div>
          </div>
          <div class="list-panel-bottom">
            <div class="panel-bottom-status">{{row.type[0]._id}} - {{row.topic[0]._id}}</div>
            <div class="panel-bottom-options pull-right">
                <a class="bottom-options" href="#" 
                    ui-sref="gathering-dashboard({id: row._id})"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
              </div>
          </div>
          
        </div>
      </div>
    </a> -->
















<!-- <div class="container-fluid container-main">






  <div class="search-bar-main">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 add-border">
          <select id="countries" class="main-control"
                  ng-options="country.name for country in vm.countries track by country.code"
                  ng-model="vm.selected">

          <input type="text" id="Autocomplete" class="main-control" 
                name="location"
                ng-autocomplete
                details="vm.address_details" 
                ng-model="vm.address_text" 
                options="vm.options" 
                placeholder="Select a location by address, city, or state ..."/>  

          <select id="distance" class="main-control"
                  ng-options="distance.name for distance in vm.distanceOptions track by distance.value"
                  ng-model="vm.selectedDistance">  
        </div>


      </div> -->


      
    
<!-- 

  <div class="col-xs-12">
<div class="carousel slide" id="myCarousel">
  <div class="carousel-inner">

    <div class="item active">
      <div class="col-xs-3">
        <div class="list-panel">Default
        </div>
      </div>
    </div>

    <div class="item" ng-repeat="rowContent in vm.gatherings">
      <div class="col-xs-3">
        <div class="list-panel">{{rowContent.name}}
        </div>
      </div>
    </div>

   

    
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
                      


             
          

          <select id="countries" class="main-control"
                  ng-options="country.name for country in vm.countries track by country.code"
                  ng-model="vm.selected"> -->
                    



<!-- 
    </div>
    
  </div>


</div>




     -->
    

<!-- <div class="container-fluid container-main">

    
    <div class="gathering-panel-main">
      
      
    </div> -->



    <!-- <div class="topics-bar-main">
      <div class="col-xs-6 col-sm-4 col-lg-1">
        <img src="../images/sports2.jpg" class="img-responsive img-topics-bar">
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-1">
        <img src="../images/sports2.jpg" class="img-responsive img-topics-bar">
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-1">
        <img src="../images/sports2.jpg" class="img-responsive img-topics-bar">
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-1">
        <img src="../images/sports2.jpg" class="img-responsive img-topics-bar">
      </div>

    </div> -->



    <!-- <div class="gathering-panel-main">

    <div ng-show="!vm.showCarousel"><h1>Select a city</h1></div>
    

    <div id="myCarousel" ng-show="vm.showCarousel" class="row carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="Carousel" data-slide-to="0" class="active"></li>
        <li data-target="Carousel" data-slide-to="1"></li>
        <li data-target="Carousel" data-slide-to="2"></li>
    </ol>

      <div class="carousel-inner">

        <div class="item"  ng-class="{active: $first }" ng-repeat="row in vm.carouselChunks">        
          <ul class="thumbnails" >
            <li class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in row">      
              <div class="list-panel-mobile">
                <div class="panel-banner-wrapper-mobile">
                  <div class="panel-banner-mobile">
                    <img class="img-mobile img-responsive" ng-src="{{item.banner.url}}">                  
                  </div>
                  <div class="panel-cost-mobile">FREE</div>                                    
                </div>
                <div class="panel-details-wrapper-mobile">
                  <div class="panel-details-date">{{item.gathering_start_date_time | date:'MMM d, y, h:mm a'}}</div>
                  <div class="panel-details-name"><strong>{{item.name}}</strong></div>
                  <div class="panel-details-location">
                    <div class="details-location">{{item.location.name}}</div>
                    <div class="details-location">{{item.location.locality}}, {{item.location.state_prov}}</div>
                    <div class="details-location">{{item.location.country}}</div>
                  </div>
                </div>
                <div class="list-panel-bottom">
                  <div class="panel-bottom-status">{{item.type[0]._id}} - {{item.topic[0]._id}}</div>
                  <div class="panel-bottom-options pull-right">
                      <a class="bottom-options" href="#" 
                          ui-sref="gathering-dashboard({id: item._id})"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                    </div>
                </div>
                
              </div>
            </li>            
          </ul>

        </div>
      </div>
    

    </div>
  </div> -->


    

 
