<!-- Add your site or application content here -->
<div id="parent-nav">
    <div id="parent-logo" class="navbar-left"><p>Kan-Tech Programming</p></div>
    <div id="parent-username" class="navbar-right hidden-xs"  ng-show="vm.isLoggedIn"><p>{{vm.currentUser.username}}</p></div>  
</div>



<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">        
        <div class="navbar-brand"><span class="logo-text">MyGathering.com</span></div>
    </div>
    <!-- /.navbar-header -->
    <ng-include src="'views/includes/navbar.toplinks.html'"></ng-include>
</nav>