<!-- Add your site or application content here -->
<div id="parent-nav">
    <div id="parent-logo" class="navbar-left"><p>Kan-Tech Programming</p></div>
    <div id="parent-username" class="navbar-right hidden-xs"  ng-show="vm.isLoggedIn"><p>{{vm.currentUser.username}}</p></div>  
</div>



<!-- Navigation -->
<nav id="navbar-top" class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">        
        <div class="my-brand"><span class="logo-text">MyGathering.com</span></div>
    </div>
    <!-- /.navbar-header -->
    <ng-include src="'views/includes/navbar.toplinks.html'"></ng-include>
    
</nav>

<div class="container-fluid">

    <div class="jumbotron" ng-show="vm.showJumbo">
		<!--begin bg-carousel-->
		<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
		<!-- Wrapper for slides -->
		    <div class="carousel-inner">
		        <div class="item active">
		            <div class="slide1"></div>
		        </div>
		        <div class="item">
		            <div class="slide2"></div>
		        </div>
		        <div class="item">
		            <div class="slide3"></div>
		        </div>
		    </div><!-- .carousel-inner --> 
		    <div class="container carousel-overlay text-center">
		        <h1>Get Kittens Free All Week Long</h1>
		        <p class="lead">Special orders also available upon request.  Check out our pricing.</p>
		        <a class="btn btn-lg btn-primary fp-buttons" href="#">
		            <span class="fa fa-dollar"></span> Get Pricing
		        </a>
		        <a class="btn btn-lg btn-primary fp-buttons" href="#">
		            <span class="fa fa-check"></span> Sign Up
		        </a>
		    </div>
		</div><!-- .carousel --> 
		<!--end bg-carousel-->
	</div>

</div> <!-- /container -->








