<div class="container-fluid no-padding container-search">
  <div class="content-spacer">  
    <div class="title-bar-main ">
      <div class="col-xs-8">
        {{vm.showing_msg}}
      </div>
  
      <div class="col-xs-4">
        <a ng-click="vm.openSearchModal('sm', '.modal-parent')"  class="pull-right title-bar-icons"><i class="fa fa-search"></i></a>
      </div>
    </div> 
    <div class="container-fluid no-padding gathering-panel-main">
      <div class="col-md-6 col-lg-4 clickable" ng-repeat="row in vm.gatherings | limitTo:vm.numToShow" ng-click="vm.goToDetails(row)">
        <div class="list-panel-mobile visible-xs">
          
          <div class="panel-banner-wrapper-mobile">
            <div class="panel-banner-mobile">
              <img class="img-mobile img-responsive" ng-src="{{row.banner.url}}">                  
            </div>
            <div class="panel-cost-mobile">FREE</div>                                    
          </div>
          <div class="panel-details-wrapper-mobile">
            <div class="panel-details-date">{{row.gathering_start_date_time | date:'MMM d, y, h:mm a'}}</div>
            <div class="panel-details-name"><strong>{{row.name}}</strong></div>
            <div class="panel-details-location">
              <div class="details-location">{{row.location.name}}</div>
              <div class="details-location">{{row.location.locality}}, {{row.location.state_prov}}</div>
              <div class="details-location">{{row.location.country}}</div>
            </div>
          </div>
          <div class="list-panel-bottom">
            <div class="panel-bottom-status">
              <div class="pull-left">{{row.type[0]._id}}</div>
              <div class="pull-right">{{row.topic[0]._id}}</div>
            </div> 
                 
          </div>
        </div>
        <div class="list-panel hidden-xs">
                <div class="list-panel-top">
                    <div class="panel-banner-wrapper">
                        <div class="panel-banner">
                            <img class="no-resize img-responsive" ng-src="{{row.banner.url}}">
                        </div>
                        <div class="panel-cost">FREE</div>                                    
                    </div>
          
                    <div class="panel-details-wrapper">
                        <div class="panel-details-date">{{row.gathering_start_date_time | date:'MMM d, y, h:mm a'}}</div>
                        <div class="panel-details-name"><strong>{{row.name}}</strong></div>
                        <div class="panel-details-location">
                            <div class="details-location">{{row.location.name}}</div>
                            <div class="details-location">{{row.location.locality}}, {{row.location.state_prov}}</div>
                            <div class="details-location">{{row.location.country}}</div>
                        </div>
                    </div>
                    <div class="list-panel-bottom">
                        <div class="panel-bottom-status">
                          <div class="pull-left">{{row.type[0]._id}}</div>
                          <div class="pull-right">{{row.topic[0]._id}}</div>
                        </div>                                   
                    </div>
                    
       
                </div>
            </div>
      </div>
      <div>
          <div class="col-xs-12 text-center showing-msg">                
              {{vm.showing_msg}}
          </div>
          <div class="col-xs-12 text-center show-more" ng-show="vm.showMoreButton">
              <i class="fa fa-arrow-down clickable" aria-hidden="true" ng-click="vm.showMoreRecs()"></i></button>

          </div>


      </div>
    </div>   

  </div>
</div>





<!--   <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 no-padding">
    <div class="input-group input-group-sm">
      <div class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="vm.open1()">
              <i class="glyphicon glyphicon-calendar"></i>
          </button>
      </div> 
      <input  type="text" 
          name="startDate"
          id="startDate"
          class="form-control main-control" 
          ng-model="vm.start_date"
          uib-datepicker-popup="{{ vm.format }}"
          datepicker-options="vm.dateOptions"
          is-open="vm.popup1.opened"               
          close-text="Close"
          ng-required="true" 
          readonly="true" />

    </div> 

  </div>
  <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 no-padding">
    <button class="btn btn-primary btn-footer" ng-click="vm.doSearch()"><span class="fa fa-search"></span> Search</button>
  </div> -->


