extends ../layout

block content
  h1 My Gathering Registration

  div#wrapper
   p Hello #{name}, thank you for registering with MyGathering.com.
   p Your temporary password to access the site is&nbsp;
    b #{password}
   p This password should be changed the first time you sign in.